HUGGINGFACE_TOKEN=
LLM_API_KEY=
DATASET_PATH=data/raw/soybean_seeds
DOCUMENTS_PATH=data/documents
VISION_MODEL_PATH=models/vision/best_model.pt
LORA_WEIGHTS_PATH=models/lora/pytorch_lora_weights.safetensors
VECTOR_DB_PATH=vector_db
